{% extends 'base.html.twig' %}

{% block title %}Admin space
{% endblock %}

{% block body %}
	<h1>Admin space</h1>
	<a href="{{ path("app_category_index") }}" class="btn btn-primary mb-4">Manage Categories</a><br>
	<a href="{{ path("app_article_index") }}" class="btn btn-primary mb-4">Manage Articles</a><br>
{% endblock %}
