<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			{% block title %}{% endblock %}
		</title>
		<link href="/css/bootstrap.cerulean.css" rel="stylesheet">
	</head>
	<body>
		{% include "partial/_navbar.html.twig" %}
		<div class="container"> {% block body %}{% endblock %}
			</div>
			<script src="/js/bootstrap.bundle.min.js"></script>
		</body>
	</html>
